autopep8
certifi
chardet
Click
idna
numpy
onnx
onnx-coreml
Pillow
protobuf
pycodestyle
pyzmq
rawpy
requests
scipy
six
torch
torchfile
torchsummary
tornado
typing
typing-extensions
urllib3
visdom
websocket-client
torchvision