autopep8==1.4.3
certifi==2019.3.9
chardet==3.0.4
Click==7.0
coremltools==2.1.0
idna==2.8
numpy==1.16.2
onnx==1.4.1
onnx-coreml==0.4.0
Pillow==5.4.1
protobuf==3.7.1
pycodestyle==2.5.0
pyzmq==18.0.1
rawpy==0.13.1
requests==2.21.0
scipy==1.2.1
six==1.12.0
torch==1.0.1.post2
torchfile==0.1.0
torchsummary==1.5.1
tornado==6.0.1
typing==3.6.6
typing-extensions==3.7.2
urllib3==1.24.1
visdom==0.1.8.8
websocket-client==0.55.0
