autopep8==1.4.3
boto3==1.9.159
botocore==1.12.159
certifi==2019.3.9
chardet==3.0.4
Click==7.0
coremltools==2.1.0
cycler==0.10.0
decorator==4.4.0
docutils==0.14
idna==2.8
imageio==2.5.0
jmespath==0.9.4
kiwisolver==1.1.0
matplotlib==3.0.3
networkx==2.3
numpy==1.16.3
onnx==1.5.0
onnx-coreml==0.4.0
opencv-python==4.1.0.25
Pillow==6.0.0
protobuf==3.7.1
pycodestyle==2.5.0
pyparsing==2.4.0
python-dateutil==2.8.0
python-dotenv==0.10.2
PyWavelets==1.0.3
pyzmq==18.0.1
rawpy==0.13.1
requests==2.21.0
s3transfer==0.2.0
scikit-image==0.15.0
scipy==1.2.1
six==1.12.0
torch==1.1.0
torchfile==0.1.0
torchsummary==1.5.1
torchvision==0.2.2.post3
tornado==6.0.1
typing==3.6.6
typing-extensions==3.7.2
urllib3==1.24.1
visdom==0.1.8.8
websocket-client==0.55.0
